{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
<div class="minMargin">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Nickname'
        }) }}

         {{ form_row(registrationForm.email, {
            label: 'Email'
        }) }}


        {{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña'
        }) }}

         {{ form_row(registrationForm.avatar, {
            label: 'Imagen de tu avatar'
        }) }}

         {{ form_row(registrationForm.roles, {
            label: 'Introduce los roles'
        }) }}
        <br/>

        <button type="submit" class="btn btn-primary">Registrar</button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
