{{ form_start(form) }}
   {#  {{ form_widget(form) }} #}
   <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>


        <div class="col">
            {{ form_row(form.foro) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.title) }}
        </div>
         <div class="col" id="some-custom-id">
            {{ form_row(form.descrition) }}
        </div>

          {% if is_granted('ROLE_ADMIN') %}
               <div class="col" id="some-custom-id">
        
            {{ form_row(form.oculto) }}
           
           
            {% endif %} 
     
 
 
    <button class="btn">{{ button_label|default('Save') }}</button>
        
        </div>
{{ form_end(form) }}
